
# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output files
*.out

# Go build
bin/
vendor/

# Dependency directories
Gopkg.lock
Gopkg.toml

# Go modules
go.sum

# Editor/IDE stuff
.vscode/
.idea/
*.swp

# Env and config
.env

# Logs
*.log
logs/
